In [135]:
import pandas as pd
from sklearn import preprocessing, preprocessing
import matplotlib.dates as mdates

In [136]:
tweets = pd.read_pickle('tweets_processed.pkl')
stocks = pd.read_pickle('stocks_processed.pkl')

In [137]:
stocks.index.rename(tweets.index.name, inplace=True)

In [138]:
df = pd.merge(tweets, stocks, on=[tweets.index.name])

In [139]:
df.columns = [str(name) for name in tweets.columns] + [name[0] for name in df.columns[10:]]

In [140]:
df.dropna(inplace=True)
df

,retweets,favorites,replies,is_retweet,closely_related,money_related,other_related,tesla,polarity,subjectivity,TSLA_close_%,NASDAQ_close_%,net_close_%,net_diff,net_vol
date,,,,,,,,,,,,,,,
2016-01-11 00:00:00-05:00,12040,23921,1333,2,2,0,1,1,0.092000,0.473000,-0.014929,-0.001214,-0.013714,-0.007236,-0.116908
2016-01-12 00:00:00-05:00,856,2098,124,1,0,0,1,0,0.000000,0.000000,0.010200,0.010334,-0.000135,-0.021131,-0.086477
2016-01-15 00:00:00-05:00,1559,5520,322,1,0,0,0,0,0.425000,0.400000,-0.005772,-0.027428,0.021656,0.073313,-0.174806
2016-01-20 00:00:00-05:00,47,242,53,1,2,0,0,0,0.000000,0.100000,-0.029406,-0.001175,-0.028231,-0.017651,-0.245248
2016-01-25 00:00:00-05:00,263,1262,71,1,0,0,0,0,0.500000,0.500000,-0.030462,-0.015833,-0.014629,0.022848,-0.070090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27 00:00:00-05:00,81131,738373,22426,43,2,0,3,0,0.147439,0.298169,0.101496,0.011077,0.090420,0.203501,-0.086932
2020-04-28 00:00:00-05:00,1119,21631,322,1,0,0,0,0,0.000000,0.000000,-0.037095,-0.014024,-0.023072,-0.030139,-0.184673
2020-04-29 00:00:00-05:00,137456,781791,77666,8,0,0,0,0,0.082341,0.175397,0.040813,0.035663,0.005150,-0.074893,-0.298152
2020-04-30 00:00:00-05:00,57024,289003,20880,11,0,0,2,0,0.112500,0.212473,-0.023273,-0.002822,-0.020450,-0.050292,-0.079338
2020-05-01 00:00:00-05:00,124550,1156410,95075,16,1,2,2,2,0.111959,0.309485,-0.103034,-0.032015,-0.071019,-0.112195,0.103543