In [57]:
import pandas as pd
from sklearn import preprocessing

In [58]:
df = pd.read_pickle('tsla.pkl')

In [59]:
df

             Adj Close                    Close                     High  \
                  TSLA        ^IXIC        TSLA        ^IXIC        TSLA
Date
2016-01-04  223.410004  4903.089844  223.410004  4903.089844  231.380005
2016-01-05  223.429993  4891.430176  223.429993  4891.430176  226.889999
2016-01-06  219.039993  4835.759766  219.039993  4835.759766  220.050003
2016-01-07  215.649994  4689.430176  215.649994  4689.430176  218.440002
2016-01-08  211.000000  4643.629883  211.000000  4643.629883  220.440002
...                ...          ...         ...          ...         ...
2019-04-25  247.630005  8118.680176  247.630005  8118.680176  259.000000
2019-04-26  235.139999  8146.399902  235.139999  8146.399902  246.679993
2019-04-29  241.470001  8161.850098  241.470001  8161.850098  243.979996
2019-04-30  238.690002  8095.390137  238.690002  8095.390137  244.210007
2019-05-01  234.009995  8049.640137  234.009995  8049.640137  240.000000

                                Low                     Open               \
                  ^IXIC        TSLA        ^IXIC        TSLA        ^IXIC
Date
2016-01-04  4903.089844  219.000000  4846.979980  230.720001  4897.649902
2016-01-05  4926.729980  220.000000  4872.740234  226.360001  4917.839844
2016-01-06  4866.040039  215.979996  4804.689941  220.000000  4813.759766
2016-01-07  4788.020020  213.669998  4688.169922  214.190002  4736.399902
2016-01-08  4742.569824  210.770004  4637.850098  217.860001  4722.020020
...                 ...         ...          ...         ...          ...
2019-04-25  8151.839844  246.070007  8075.410156  255.000000  8150.850098
2019-04-26  8146.419922  231.130005  8060.890137  246.500000  8100.279785
2019-04-29  8176.080078  232.169998  8136.410156  235.860001  8147.649902
2019-04-30  8124.609863  237.000000  8050.549805  242.059998  8104.910156
2019-05-01  8146.000000  231.500000  8048.229980  238.850006  8132.930176

              Volume
                TSLA       ^IXIC
Date
2016-01-04   6827100  2218420000
2016-01-05   3186800  1927380000
2016-01-06   3779100  2168620000
2016-01-07   3554300  2552590000
2016-01-08   3628100  2288750000
...              ...         ...
2019-04-25  21849400  2063270000
2019-04-26  22360700  1971270000
2019-04-29  16714500  1761110000
2019-04-30   9464600  2115770000
2019-05-01  10704400  2247420000

[837 rows x 12 columns]

In [60]:
df.describe()

        Adj Close                    Close                     High  \
             TSLA        ^IXIC        TSLA        ^IXIC        TSLA
count  837.000000   837.000000  837.000000   837.000000  837.000000
mean   281.483190  6343.850872  281.483190  6343.850872  286.194612
std     56.785764  1084.177147   56.785764  1084.177147   57.625461
min    143.669998  4266.839844  143.669998  4266.839844  154.970001
25%    226.889999  5283.930176  226.889999  5283.930176  229.869995
50%    294.089996  6383.770020  294.089996  6383.770020  299.660004
75%    329.100006  7328.850098  329.100006  7328.850098  334.660004
max    385.000000  8161.850098  385.000000  8161.850098  389.609985

                           Low                     Open               \
             ^IXIC        TSLA        ^IXIC        TSLA        ^IXIC
count   837.000000  837.000000   837.000000  837.000000   837.000000
mean   6375.346832  276.482604  6306.667105  281.512413  6342.813797
std    1091.541954   55.814878  1077.320703   56.761963  1085.445093
min    4293.220215  141.050003  4209.759766  142.320007  4218.810059
25%    5308.600098  224.039993  5254.959961  227.369995  5283.580078
50%    6408.049805  288.200012  6355.879883  294.339996  6393.100098
75%    7363.520020  323.160004  7259.899902  328.440002  7316.500000
max    8176.080078  379.350006  8136.410156  386.690002  8150.850098

             Volume
               TSLA         ^IXIC
count  8.370000e+02  8.370000e+02
mean   6.778363e+06  2.037786e+09
std    4.101262e+06  3.843703e+08
min    1.659500e+06  7.680700e+08
25%    4.204300e+06  1.792610e+09
50%    5.727400e+06  1.979540e+09
75%    7.880900e+06  2.211460e+09
max    3.364970e+07  4.534120e+09

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 837 entries, 2016-01-04 to 2019-05-01
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, TSLA)   837 non-null    float64
 1   (Adj Close, ^IXIC)  837 non-null    float64
 2   (Close, TSLA)       837 non-null    float64
 3   (Close, ^IXIC)      837 non-null    float64
 4   (High, TSLA)        837 non-null    float64
 5   (High, ^IXIC)       837 non-null    float64
 6   (Low, TSLA)         837 non-null    float64
 7   (Low, ^IXIC)        837 non-null    float64
 8   (Open, TSLA)        837 non-null    float64
 9   (Open, ^IXIC)       837 non-null    float64
 10  (Volume, TSLA)      837 non-null    int64
 11  (Volume, ^IXIC)     837 non-null    int64
dtypes: float64(10), int64(2)
memory usage: 85.0 KB

In [62]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(-1, 1))

In [63]:
x_scaled = min_max_scaler.fit_transform(df['Adj Close']['TSLA'].values.reshape(1,-1))

In [64]:
df['TSLA_diff'] = df['Adj Close']['TSLA'].diff()
df['NASDAQ_diff'] = df['Adj Close']['^IXIC'].diff()

In [65]:
df

             Adj Close                    Close                     High  \
                  TSLA        ^IXIC        TSLA        ^IXIC        TSLA
Date
2016-01-04  223.410004  4903.089844  223.410004  4903.089844  231.380005
2016-01-05  223.429993  4891.430176  223.429993  4891.430176  226.889999
2016-01-06  219.039993  4835.759766  219.039993  4835.759766  220.050003
2016-01-07  215.649994  4689.430176  215.649994  4689.430176  218.440002
2016-01-08  211.000000  4643.629883  211.000000  4643.629883  220.440002
...                ...          ...         ...          ...         ...
2019-04-25  247.630005  8118.680176  247.630005  8118.680176  259.000000
2019-04-26  235.139999  8146.399902  235.139999  8146.399902  246.679993
2019-04-29  241.470001  8161.850098  241.470001  8161.850098  243.979996
2019-04-30  238.690002  8095.390137  238.690002  8095.390137  244.210007
2019-05-01  234.009995  8049.640137  234.009995  8049.640137  240.000000

                                Low                     Open               \
                  ^IXIC        TSLA        ^IXIC        TSLA        ^IXIC
Date
2016-01-04  4903.089844  219.000000  4846.979980  230.720001  4897.649902
2016-01-05  4926.729980  220.000000  4872.740234  226.360001  4917.839844
2016-01-06  4866.040039  215.979996  4804.689941  220.000000  4813.759766
2016-01-07  4788.020020  213.669998  4688.169922  214.190002  4736.399902
2016-01-08  4742.569824  210.770004  4637.850098  217.860001  4722.020020
...                 ...         ...          ...         ...          ...
2019-04-25  8151.839844  246.070007  8075.410156  255.000000  8150.850098
2019-04-26  8146.419922  231.130005  8060.890137  246.500000  8100.279785
2019-04-29  8176.080078  232.169998  8136.410156  235.860001  8147.649902
2019-04-30  8124.609863  237.000000  8050.549805  242.059998  8104.910156
2019-05-01  8146.000000  231.500000  8048.229980  238.850006  8132.930176

              Volume              TSLA_diff NASDAQ_diff
                TSLA       ^IXIC
Date
2016-01-04   6827100  2218420000        NaN         NaN
2016-01-05   3186800  1927380000   0.019989  -11.659668
2016-01-06   3779100  2168620000  -4.389999  -55.670410
2016-01-07   3554300  2552590000  -3.389999 -146.329590
2016-01-08   3628100  2288750000  -4.649994  -45.800293
...              ...         ...        ...         ...
2019-04-25  21849400  2063270000 -11.029999   16.670410
2019-04-26  22360700  1971270000 -12.490005   27.719727
2019-04-29  16714500  1761110000   6.330002   15.450195
2019-04-30   9464600  2115770000  -2.779999  -66.459961
2019-05-01  10704400  2247420000  -4.680008  -45.750000

[837 rows x 14 columns]

In [66]:
df.drop(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], axis=1, inplace=True)

In [67]:
df

            TSLA_diff NASDAQ_diff

Date
2016-01-04        NaN         NaN
2016-01-05   0.019989  -11.659668
2016-01-06  -4.389999  -55.670410
2016-01-07  -3.389999 -146.329590
2016-01-08  -4.649994  -45.800293
...               ...         ...
2019-04-25 -11.029999   16.670410
2019-04-26 -12.490005   27.719727
2019-04-29   6.330002   15.450195
2019-04-30  -2.779999  -66.459961
2019-05-01  -4.680008  -45.750000

[837 rows x 2 columns]