In [117]:
import pandas as pd
from textblob import TextBlob

In [118]:
df = pd.read_csv('tweets.csv', encoding="utf-8")

In [119]:
df.isnull().sum()

username             0
to                1874
text                93
retweets             0
favorites            0
replies              0
id                   0
permalink            0
author_id            0
date                 0
formatted_date       0
hashtags          8192
mentions          7833
geo               8205
urls              7272
dtype: int64

In [120]:
df.drop(['username', 'id', 'permalink', 'author_id', 'geo', 'hashtags', 'formatted_date'], axis=1, inplace=True)

In [121]:
df['text'].astype(str)

0                          @TheEconomist Interesting name
1       @Benzinga I didn't take anyone's car and never...
2       My best guess for 2016: ~70% landing success r...
3                          @JeffBezos @SpaceX Thanks Jeff
4       Falcon lands on droneship, but the lockout col...
                              ...
8200    Yeah, very important to provide C/BiPAP device...
8201    Invasive ventilators are for worst case patien...
8202    Exactly. Moreover, all hospitals were given ex...
8203                         Will call when we reach Mars
8204                                              Exactly
Name: text, Length: 8205, dtype: object

In [122]:
df.describe()

            retweets     favorites       replies
count    8205.000000  8.205000e+03   8205.000000
mean     2252.576843  1.807881e+04    487.715661
std     10393.932164  5.455258e+04   1594.076078
min         0.000000  6.000000e+01      0.000000
25%        41.000000  9.170000e+02     41.000000
50%       122.000000  2.339000e+03     98.000000
75%       982.000000  1.207400e+04    379.000000
max    391852.000000  1.712683e+06  51016.000000

In [123]:
df.head()

,to,text,retweets,favorites,replies,date,mentions,urls
0,TheEconomist,@TheEconomist Interesting name,263,1262,71,2016-01-23 19:43:17+00:00,@TheEconomist,NaN
1,Benzinga,@Benzinga I didn't take anyone's car and never...,47,242,53,2016-01-20 17:56:05+00:00,@Benzinga,NaN
2,NaN,My best guess for 2016: ~70% landing success r...,1431,5151,393,2016-01-19 04:11:54+00:00,NaN,NaN
3,JeffBezos,@JeffBezos @SpaceX Thanks Jeff,158,1068,50,2016-01-18 03:09:21+00:00,@JeffBezos @SpaceX,NaN
4,NaN,"Falcon lands on droneship, but the lockout col...",8026,8693,1234,2016-01-18 03:07:21+00:00,NaN,https://www.instagram.com/p/BAqirNbwEc0/

In [124]:
df['date'] = pd.to_datetime( df['date'], format='%Y-%m-%d %H:%M:%S')
df.set_index('date', inplace=True)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8205 entries, 2016-01-23 19:43:17+00:00 to 2020-04-02 04:12:18+00:00
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   to         6331 non-null   object
 1   text       8112 non-null   object
 2   retweets   8205 non-null   int64
 3   favorites  8205 non-null   int64
 4   replies    8205 non-null   int64
 5   mentions   372 non-null    object
 6   urls       933 non-null    object
dtypes: int64(3), object(4)
memory usage: 512.8+ KB

In [126]:
df['text'].str.contains('Tesla').sum()

719

In [127]:
df.dtypes

to           object
text         object
retweets      int64
favorites     int64
replies       int64
mentions     object
urls         object
dtype: object

In [128]:
def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

df['sentiment'] = df['text'].apply(sentiment_calc)

In [129]:
df

,to,text,retweets,favorites,replies,mentions,urls,sentiment
date,,,,,,,,
2016-01-23 19:43:17+00:00,TheEconomist,@TheEconomist Interesting name,263,1262,71,@TheEconomist,NaN,"(0.5, 0.5)"
2016-01-20 17:56:05+00:00,Benzinga,@Benzinga I didn't take anyone's car and never...,47,242,53,@Benzinga,NaN,"(0.0, 0.1)"
2016-01-19 04:11:54+00:00,NaN,My best guess for 2016: ~70% landing success r...,1431,5151,393,NaN,NaN,"(0.4, 0.225)"
2016-01-18 03:09:21+00:00,JeffBezos,@JeffBezos @SpaceX Thanks Jeff,158,1068,50,@JeffBezos @SpaceX,NaN,"(0.2, 0.2)"
2016-01-18 03:07:21+00:00,NaN,"Falcon lands on droneship, but the lockout col...",8026,8693,1234,NaN,https://www.instagram.com/p/BAqirNbwEc0/,"(0.0, 0.0)"
...,...,...,...,...,...,...,...,...
2020-04-02 20:11:50+00:00,flcnhvy,"Yeah, very important to provide C/BiPAP device...",137,1982,93,NaN,NaN,"(0.3233333333333333, 0.7166666666666667)"
2020-04-02 19:51:50+00:00,elonmusk,Invasive ventilators are for worst case patien...,349,4884,127,NaN,NaN,"(-0.5, 0.65)"
2020-04-02 19:50:03+00:00,28delayslater,"Exactly. Moreover, all hospitals were given ex...",417,7051,155,NaN,NaN,"(0.225, 0.575)"
2020-04-02 08:54:06+00:00,NuovaRealta,Will call when we reach Mars,813,26415,363,NaN,NaN,"(0.0, 0.0)"
2020-04-02 04:12:18+00:00,28delayslater,Exactly,96,2475,174,NaN,NaN,"(0.25, 0.25)"