In [58]:
import pandas as pd
from textblob import TextBlob

In [59]:
df = pd.read_csv('tweets.csv', encoding="utf-8")

In [60]:
df.isnull().sum()

username             0
to                1587
text                71
retweets             0
favorites            0
replies              0
id                   0
permalink            0
author_id            0
date                 0
formatted_date       0
hashtags          6716
mentions          6385
geo               6727
urls              5894
dtype: int64

In [61]:
df.drop(['username', 'id', 'permalink', 'author_id', 'geo', 'hashtags', 'formatted_date'], axis=1, inplace=True)

In [75]:
df['text'].astype(str)

0                          @TheEconomist Interesting name
1       @Benzinga I didn't take anyone's car and never...
2       My best guess for 2016: ~70% landing success r...
3                          @JeffBezos @SpaceX Thanks Jeff
4       Falcon lands on droneship, but the lockout col...
                              ...
6722    Bigger flaps/fins at rear also moves center of...
6723                                             Haha yes
6724    In solving for a good Mars climate, we will le...
6725    Inside Starship cargo bay. Header tanks mounte...
6726                                          Cool video!
Name: text, Length: 6727, dtype: object

In [63]:
df.describe()

            retweets     favorites       replies
count    6727.000000  6.727000e+03   6727.000000
mean     2109.339081  1.594951e+04    430.636093
std      9549.349735  4.605128e+04   1275.260397
min         0.000000  6.000000e+01      0.000000
25%        36.000000  8.220000e+02     37.000000
50%       114.000000  2.109000e+03     88.000000
75%      1041.500000  1.172750e+04    373.500000
max    391865.000000  1.268498e+06  47848.000000

In [65]:
df.head()

,to,text,retweets,favorites,replies,date,mentions,urls
0,TheEconomist,@TheEconomist Interesting name,263,1262,71,2016-01-23 19:43:17+00:00,@TheEconomist,NaN
1,Benzinga,@Benzinga I didn't take anyone's car and never...,47,242,53,2016-01-20 17:56:05+00:00,@Benzinga,NaN
2,NaN,My best guess for 2016: ~70% landing success r...,1431,5150,393,2016-01-19 04:11:54+00:00,NaN,NaN
3,JeffBezos,@JeffBezos @SpaceX Thanks Jeff,158,1068,50,2016-01-18 03:09:21+00:00,@JeffBezos @SpaceX,NaN
4,NaN,"Falcon lands on droneship, but the lockout col...",8026,8693,1234,2016-01-18 03:07:21+00:00,NaN,https://www.instagram.com/p/BAqirNbwEc0/

In [71]:
df['date'] = pd.to_datetime( df['date'], format='%Y-%m-%d %H:%M:%S')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   to         5140 non-null   object
 1   text       6656 non-null   object
 2   retweets   6727 non-null   int64
 3   favorites  6727 non-null   int64
 4   replies    6727 non-null   int64
 5   date       6727 non-null   datetime64[ns, UTC]
 6   mentions   342 non-null    object
 7   urls       833 non-null    object
dtypes: datetime64[ns, UTC](1), int64(3), object(4)
memory usage: 420.6+ KB

In [73]:
df['text'].str.contains('Tesla').sum()

639

In [79]:
df.dtypes

to                        object
text                      object
retweets                   int64
favorites                  int64
replies                    int64
date         datetime64[ns, UTC]
mentions                  object
urls                      object
sentiment                 object
dtype: object

In [81]:
def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

def sentiment_calc(text):
    try:
        return TextBlob(text).sentiment
    except:
        return None

df['sentiment'] = df['text'].apply(sentiment_calc)

In [82]:
df

,to,text,retweets,favorites,replies,date,mentions,urls,sentiment
0,TheEconomist,@TheEconomist Interesting name,263,1262,71,2016-01-23 19:43:17+00:00,@TheEconomist,NaN,"(0.5, 0.5)"
1,Benzinga,@Benzinga I didn't take anyone's car and never...,47,242,53,2016-01-20 17:56:05+00:00,@Benzinga,NaN,"(0.0, 0.1)"
2,NaN,My best guess for 2016: ~70% landing success r...,1431,5150,393,2016-01-19 04:11:54+00:00,NaN,NaN,"(0.4, 0.225)"
3,JeffBezos,@JeffBezos @SpaceX Thanks Jeff,158,1068,50,2016-01-18 03:09:21+00:00,@JeffBezos @SpaceX,NaN,"(0.2, 0.2)"
4,NaN,"Falcon lands on droneship, but the lockout col...",8026,8693,1234,2016-01-18 03:07:21+00:00,NaN,https://www.instagram.com/p/BAqirNbwEc0/,"(0.0, 0.0)"
...,...,...,...,...,...,...,...,...,...
6722,ColinPearceUK,Bigger flaps/fins at rear also moves center of...,42,1402,33,2019-10-01 07:29:38+00:00,NaN,NaN,"(-0.03333333333333333, 0.19999999999999998)"
6723,TrevorMahlmann,Haha yes,79,2498,50,2019-10-01 07:20:29+00:00,NaN,NaN,"(0.2, 0.3)"
6724,HarryStoltz1,"In solving for a good Mars climate, we will le...",120,2247,62,2019-10-01 07:18:01+00:00,NaN,NaN,"(0.75, 0.675)"
6725,NaN,Inside Starship cargo bay. Header tanks mounte...,5982,68622,1404,2019-10-01 07:14:48+00:00,NaN,NaN,"(0.0, 0.0)"
6726,EvaFoxU,Cool video!,20,596,22,2019-10-01 05:32:20+00:00,NaN,NaN,"(0.4375, 0.65)"

In [83]:
df['polarity'] = df['sentiment'].apply(lambda sen: sen[0])

TypeError: 'NoneType' object is not subscriptable